{% extends 'patient/home.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <img src="{% static 'images/about.jpeg' %}" alt="about" class="img-fluid">
            </div>
        </div> <br><br><br>
    
    <div class="col-md-10 "> <br><br><br>
    <div class="row d-flex justify-content-center">
        <div class="row" style="background-color: white; max-width: 90%;">
                    <div class="col-lg-6 col-md-6 col-sm-12 custome-div" style="background-color: white;"> 
                        <h2 style="font-size: 37px; font-weight: 330;  color: black;">
                            When you need <br> answers, you know <br> where to go.
                        </h2>    
                    </div> 
                    <div class="col-lg-6 col-md-6 col-sm-12 custome-div" style="background-color: white;"> 
                        <p style="font-size: 20px; font-weight: 330;  color: black;">
                            Located in the vibrant heart of India, Amrita Hospitals is one of the largest private multi-specialist hospitals in Asia. Mata Amritanandamayi Devi laid the hospital's cornerstone in Kochi in 1998. We are dedicated to providing the most sophisticated healthcare to people from all walks of life. 
                            1300+ Bed Capacity|10M+ Treated Patients|128+ Medical Equipments
                        </p>
    
                        <a href="#" style="color: black; font-size: 20px; font-weight: 400; margin-left: 20px;">Learn more about us</a>
                    </div> 
        </div><br><br>
    
    </div> <br><br><br>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="custm-div" style="align-items: center;" >
                    <h4 style="font-size: 20px;"><strong>Our vision</strong></h4>
                    <p>
                        To provide healthcare of the highest quality to all in a spirit of compassion and continually improve the standard 
                        of care provided to the community through the promotion of value-based quality education and research.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="custm-div" style="align-items: center;">
                    <h4 style="font-size: 20px;"><strong>Our Mission</strong></h4>
                    <p>
                        Establishing a Center of Excellence in healthcare and improving the well-being of the community through quality programs of preventive and curative
                         medicine, medical education, and research. Providing outstanding and affordable medical care in a patient-friendly environment and in a spirit of compassion to all, regardless of race, caste, religion, or economic condition.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="custm-div" style="align-items: center;">
                    <h4 style="font-size: 20px;"><strong>Our Philosophy</strong></h4>
                    <p>
                        At the heart of our mission lies the belief that exceptional healthcare should be accessible to everyone. We aim to create a warm and 
                        supportive healing environment where every patient feels heard, respected, and treated with compassionate care.</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>
</div>
{% endblock %}